graft docs
graft fedsim
graft fedsim_cli
graft ci
graft tests

prune docs/build

include tbump.toml
include .coveragerc
include .editorconfig
include .readthedocs.yml
include pytest.ini
include tox.ini
include .github/workflows/github-actions.yml
include .pre-commit-config.yaml
include codecov
include *.sh

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include CODE_OF_CONDUCT.md

global-exclude *.py[cod] __pycache__/* *.so *.dylib CNAME
